<div id="section-tutorial" hidden>
  <h2>
    Meet Tatiana — a virtual human rendered in Unreal Engine 4.
  </h2>

  <img src="/img/meet.png">

  <div class="description">
    <b>Instructions</b><br>
    In this study, you are asked to compared two different images (image A and B) of Tatiana.
    You will rate image A based on how photorealistic it looks in comparison to image B using this scale:
    <ul><b>
        <li>-3 • MUCH LESS REALISTC</li>
        <li>-2 • MODERATELY LESS REALISTC</li>
        <li>-1 • SLIGHTLY LESS REALISTC</li>
        <li>0 • THE SAME</li>
        <li>1 • SLIGHTLY MORE REALISTC</li>
        <li>2 • MODERATELY MORE REALISTIC</li>
        <li>3 • MUCH MORE REALISTIC</li>
    </ul></b>

    <p>The images are displayed side-by-side with a ciruclar slider initially positioned in the middle
      (as shown below). Move the slider fully to each side to completely show each image before you 
      select your rating. <br><br>
      Moving to the right will reveal image A and moving to the left will reveal 
      image B.</p>

    <b>Sample Question</b>
    <div class="img-slider-container">

      <div class="img-comp" style="height: 100%; background-color: #D2CBCB;">
        <div class="label-right" style="opacity: 0.7;">
          <b>IMAGE B</b>
        </div>
      </div>

      <div class="img-comp img-comp-top" style="height: 100%; background-color: #ADA0A6;">
        <div class="label-left">
          <b>IMAGE A</b>
        </div>
      </div>
    </div>

    <div class="options">
     <h3>Is A less realistic, the same or more realistic than B?</h3>

      <div class="answer-wrap">
        <div class="label-wrap" style="text-align: right;">
          MUCH LESS REALISTC
        </div>

        <div class="radio-wrap">
          <span class="radio-line">
            <input type="radio" name="sample" value="-3">
            <label for="sample">-3</label>
          </span>

          <span class="radio-line">
            <input type="radio" name="sample" value="-2">
            <label for="sample">-2</label>
          </span>

          <span class="radio-line">
            <input type="radio" name="sample" value="-1">
            <label for="sample">-1</label>
          </span>

          <span class="radio-line">
            <input type="radio" name="sample" value="0" checked>
            <label for="sample">0</label>
          </span>

          <span class="radio-line">
            <input type="radio" name="sample" value="5">
            <label for="sample">1</label>
          </span>

          <span class="radio-line">
            <input type="radio" name="sample" value="6">
            <label for="sample">2</label>
          </span>

          <span class="radio-line">
            <input type="radio" name="sample" value="7">
            <label for="sample">3</label>
          </span>
        </div>

        <div class="label-wrap" style="text-align: left;">
          MUCH MORE REALISTC
        </div>
      </div>
    </div>

    <p>Note: Please use the next and back buttons at the bottom of every page if you wish to review your answers. 
      This is a single-page application. Your browser 'back' button will not work.
    </p>
    <center>
      <span class="next-btn" onclick="goToSection('section-tutorial','section-1')">Continue</span>
    </center>

  </div>
</div>