<div id="body-wrap">
  <div id="headings">
    <h1>
      Realistic Virtual Human Rendering in Real-Time
    </h1>
    A perceptual study on a virtual human model.
  </div>

  <form action="/submit" method="post">

    <div id="section-one">
      <h2>
        Part 1 of 4: Meet Tatiana — she's a virtual human rendered in Unreal Engine 4.
      </h2>

      <div id="intro">
        <p>In this survey, you will be asked to rate and compare Tatiana's photorealism
          in different rendering qualities. Each image is labelled based
          on its rendering quality.</p>

        <p>No personal data will be collected at any point of this survey.</p>

        <p>To begin, we will start with this scale:</p>
      </div>

      <p class="description">
        Scale: <br>
        <b>1 • FAKE</b> = This image is of a poor-quality generated virtual human <br>
        <b>7 • PHOTOREALISTIC</b> = I cannot distinguish this image from a photograph of a real person
      </p>

      {{#each sectionOne}}
      {{> question}}
      {{/each}}

      <div style="text-align: center;">
        <span class="next-btn" onclick="goSection2()">Next</span>
      </div>
    </div>

    <div id="section-two" hidden>
      <h2>
        Part 2 of 4: This is Tatiana with (previous) Quality A next to (new) Quality B —
        we will see if Quality B affects your prerception of her realism.
      </h2>
      <p class="description">
        Scale: <br>
        <b>1 • LESS REALISTC</b> = Quality B is less photorealistic than Quality A<br>
        <b>4 • NO DIFFERENCE</b> = Quality B is same level of photorealism with Quality A<br>
        <b>7 • MORE REALISTIC</b> = Quality B is more photorealistic than Quality A
        <br><br>
        Move the circle slider to either left or right to fully view each quality.
        <b>The quality you have to judge is on the right side.</b>
      </p>

      {{#each sectionTwo}}
      {{> questionSlider}}
      {{/each}}

      <div style="text-align: center;">
        <span class="next-btn" onclick="goSection3()">Next</span>
      </div>

    </div>

    <div id="section-three" hidden>
      <h2>
        Part 3 of 4: Compare (previous) Quality B to (new) Quality C
        — does Quality C affect your prerception of her realism?
      </h2>
      <p class="description">
        Scale: <br>
        <b>1 • LESS REALISTC</b> = Quality C is less photorealistic than Quality B<br>
        <b>4 • NO DIFFERENCE</b> = Quality C is same level of photorealism with Quality B<br>
        <b>7 • MORE REALISTIC</b> = Quality C is more photorealistic than Quality B
        <br><br>
        Move the circle slider to either left or right to fully view each quality.
        <b>The quality you have to judge is on the right side.</b>
      </p>

      {{#each sectionThree}}
      {{> questionSlider}}
      {{/each}}

      <div style="text-align: center;">
        <span class="next-btn" onclick="goSection4()">Next</span>
      </div>
    </div>

    <div id="section-four" hidden>
      <h2>
        Part 4 of 4: A (new) Quality D, same process — does Quality D look more realistic than Quality C?
      </h2>
      <p class="description">
        Scale: <br>
        <b>1 • LESS REALISTC</b> = Quality D is less photorealistic than Quality C<br>
        <b>4 • NO DIFFERENCE</b> = Quality D is same level of photorealism with Quality C<br>
        <b>7 • MORE REALISTIC</b> = Quality D is more photorealistic than Quality C
        <br><br>
        Move the circle slider to either left or right to fully view each quality.
        <b>The quality you have to judge is on the right side.</b>
      </p>

      {{#each sectionFour}}
      {{> questionSlider}}
      {{/each}}

      <div style="text-align: center;">
        <button>Submit</button>
      </div>
    </div>


  </form>

  <div style="height: 40px"> </div>

</div>