body {
  font-size: 1em;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#body-wrap {
  width: 800px;
  margin: auto;
}

img {
  width: 100%;
  height: auto;
  margin: auto;
}

#headings {
  padding: 15px;
  margin: 100px 0 20px 0;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin: 0 0 3px 0;
}

h2 {
  padding: 15px 15px 10px 0px;
  font-size: 1.3em;
  margin: 0;
}

h3 {
  font-size: 1em;
  margin: 0;
  padding: 5px;
}

h4 {
  font-size: 1em;
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 500;
}

#intro {
  background-color: #DCD0D3;
  margin: 0;
  padding: 1px 15px;
}

p.description {
  background-color: #F1E4E8;
  margin: 0;
  padding: 15px;
  margin-bottom: 25px;
}

.question {
  margin-bottom: 40px;
}

.question img {
  margin: 0 0 -5px 0;
  padding: 0;
}

.options {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: #e3e3e3;
  padding: 10px 0 20px 0;
  text-align: center;
  overflow: hidden;
}

.answer-wrap {
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-wrap {
  flex-basis: 1;
  align-self: center;
  padding: 0 15px;
}

.radio-line {
  display: inline-block;
  text-align: center;
  color: #6c6c6c;
  font-size: 0.9em;
  font-weight: 600;
}

.radio-line label {
  display: block;
}

.label-wrap {
  color: #6c6c6c;
  font-weight: 600;
  flex-basis: 20%;
  font-size: 0.8em;
}

/* * {
  box-sizing: border-box;
} */

.question-slider {
  margin-bottom: 40px;
  display: inherit;
}

.img-slider-container {
  position: relative;
  margin: 0;
  height: 450px;
}

.img-comp {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 1;
}

.img-comp img {
  width: 800px;
  height: auto;
  display: block;
}

.img-comp-top {
  display: inherit;
  z-index: 3;
}

.img-comp-slider {
  position: absolute;
  z-index: 5;
  cursor: ew-resize;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  opacity: 0.7;
  border-radius: 50%;
}

@media screen and (max-width: 899px) {
  #body-wrap {
    width: 800px;
  }

  .img-slider-container {
    height: 450px;
  }

  .img-comp img {
    width: 800px;
  }
}

@media screen and (max-width: 799px) {
  #body-wrap {
    width: 700px;
  }

  .img-slider-container {
    height: 393.5px;
  }

  .img-comp img {
    width: 700px;
  }
}

@media only screen and (max-width: 699px) {
  #body-wrap {
    width: 400px;
  }

  .img-slider-container {
    height: 225px;
  }

  .img-comp img {
    width: 400px;
  }

  #headings {
    padding: 15px;
    margin: 0;
    text-align: left;
    background-color: #E2DCDE;
  }

  h2, h4 {
    margin: 15px;
  }
}

.next-btn, button{
  font-size: 1em;
  margin: auto;
  padding: 10px;
  border-radius: 10%;
  background-color: #E2DCDE;
  cursor: pointer ;
}

.next-btn:hover, button:hover {
  background-color: #BCA1AD;
}

.label-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  padding: 3px;
  z-index: 2;
  overflow: hidden;
  font-size: 1.2em;
}

.label-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  padding: 3px;
  z-index: 4;
  font-size: 1.2em;
}